setuptools
wheel
numpy==1.26.4
torch
torch-geometric
rdflib
pandas
matplotlib
tk
tcl
seaborn
scikit-learn
holidays
pyproj
# for pyproj, need to:
# `nano .venv/bin/activate`
# and add `export PROJ_DATA="/usr/local/share/proj`
